<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prabuddha's ON Call Rotation</title>
    <script>
        let d = new Date().getHours();
        if (d >= 9 && d <= 18) {
           alert("AVAILABLE on CALL");
        } else {
           alert("NOT AVAILABLE on CALL. Time starts 9am to 6pm.");
        }
    </script>
</head>

<body>

</body>

</html>